<!DOCTYPE html>
<html>
  <head>
    <title>PM Anti-Aging Tool</title>
  </head>
  <body>
    <h1>PM Anti-Aging Tool</h1>
    <div id="chat-window"></div>
    <input id="chat-input" type="text" placeholder="Type your message...">
    <button id="send-button">Send</button>

    <div id="button-container">
      {% for text in button_texts %}
      <button class="prompt-button" style="margin-top: 25px">{{ text }}</button><br>
      {% endfor %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.min.js"></script>
    <script>
      var socket = io();

      // Handle incoming messages
      socket.on('message', function(msg) {
        var chatWindow = document.getElementById('chat-window');
        var chatBubble = document.createElement('div');
        chatBubble.innerHTML = '<strong>AI:</strong> ' + msg;
        chatBubble.style.margin = "10px"
        chatWindow.appendChild(chatBubble);
      });

      // Handle user input
      var sendButton = document.getElementById('send-button');
      var chatInput = document.getElementById('chat-input');
      sendButton.onclick = function() {
        var userInput = chatInput.value;
        var chatWindow = document.getElementById('chat-window');
        var chatBubble = document.createElement('div');
        chatBubble.innerHTML = '<strong>User:</strong> <b>' + userInput;
        chatWindow.appendChild(chatBubble);
        socket.emit('message', userInput);
        chatInput.value = '';
      };

      // Handle button clicks
      var promptButtons = document.querySelectorAll('.prompt-button');
      for (var i = 0; i < promptButtons.length; i++) {
        promptButtons[i].onclick = function() {
          var promptText = this.innerHTML;
          chatInput.value = promptText;
        };
      }
    </script>
  </body>
</html>
